@import "src/common/styles/variables";
@import "src/common/styles/Templates.module";

.contactsBlock {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    >div .formsContent {
        height: 100%;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .formsBlock {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .contactInfoBlock {
                width: 300px;
                background-color: white;
                height: 300px;

            }
            .forms {
                @extend %tplBackgroundCard;
                //background-color: rgba(0, 139, 139, 0.62);
                width: 60%;
                margin: 0 0 0 60px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                >input {
                    margin-right: 15px;
                    background-color: #343549;
                    width: 40%;
                    vertical-align: middle;
                    //border: none;
                    border: 1px solid $purpleLight;
                    border-radius: 20px;
                    padding: 10px 20px;
                    color: $white;
                    //border-style: solid;
                    //border-width: 0;
                    &:focus {
                        outline: none;
                        border: 1px solid $blue;
                    }
                }
                >textarea {
                    width: 90%;
                    height: 100px;
                    background-color: #343549;
                    border: 1px solid $purpleLight;
                    //border-style: solid;
                    //border-width: 0;
                    &:focus {
                        outline: none;
                        border: 1px solid $blue;
                    }

                }
            }
        }
    }

}
//
//.title {
//    border: 1px solid #18192a;
//    font-size: 26px;
//}


@media (min-width: 340px) and (max-width: 800px) {
    .forms {
        width: 90%;
    }
}
//
//.link {
//    color: black;
//    text-decoration: none;
//    padding: 10px 15px;
//    background-color: darkcyan;
//}