.skillsBlock {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*.skillsHeader {*/
/*    border: 1px solid #18192a;*/
/*    text-align: center;*/
/*    padding: 30px;*/
/*    font-size: 26px;*/
/*}*/

.skillsItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}