@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "src/common/styles/variables";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  font-size: 18px;
  font-family: Lato,sans-serif;
}

.App {
  //background-color: #111;
  position: relative;
  background-color: #343549;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .appBlockElement {
    background: linear-gradient(45deg, $blue, $purpleLight);
    border-radius: 50%;
    position: absolute;
    height: 500px;
    width: 500px;
    left: -11%;
    top: -21%;
    $box-shadow: 0 0 7px RGB(255 255 255 / 95%);
  }
  &:before{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: $purpleLight;
    bottom: 14px;
  }
  &:after{
    content: '';
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: $blue;
    right: 44px;
    top: 84px;

  }
  .appContent {
    width: 100%;
    height: 100%;
    padding: 70px;
    margin-right: 60px;
  }
}


@media (max-width: 620px) {
  .App {
    .appBlockElement {
      position: absolute;
      height: 400px;
      width: 400px;
    }
    &:before{
      width: 200px;
      height: 200px;
    }
    &:after{
      width: 200px;
      height: 200px;
      right: -21px;
      top: 162px;
    }
    .appContent {
      width: 100%;
      height: 100%;
      padding: 40px;
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
}