@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "src/common/styles/variables";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  font-size: 18px;
  font-family: Lato,sans-serif;
}

.App {
  position: relative;
  background-color: #343549;
  min-height: 100vh;
  padding: 4% 0;
  display: flex;
  align-items: center;
  .appBlockElement {
    background: linear-gradient(45deg, $blue, $purpleLight);
    border-radius: 50%;
    position: absolute;
    height: 500px;
    width: 500px;
    left: -11%;
    top: -21%;
    $box-shadow: 0 0 7px RGB(255 255 255 / 95%);
  }
  &:before{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: $purpleLight;
    bottom: 14px;
  }
  &:after{
    content: '';
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: $blue;
    right: 44px;
    top: 84px;
  }
  .appContent {
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    z-index: 1000;
  }
}


@media (min-width: 340px) and (max-width: 620px) {
  .App {
    .appBlockElement {
      height: 320px;
      width: 320px;
    }
    &:before{
      width: 200px;
      height: 200px;
    }
    &:after{
      width: 200px;
      height: 200px;
      right: 9px;
      top: 220px;
    }
    .appContent {
      width: 90%;
      margin-bottom: 50px;
    }
  }
}