@import 'src/common/styles/variables';
@import "src/common/styles/Templates.module";

.remoteBlock {
    width: 70%;
    padding: 20px 30px;
    margin-top: 25px;
    text-align: center;
    border-radius: 10px;
    @extend %tplBackgroundCard;

    .remoteContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: $white;
        .title {
            text-align: center;

            //background-color: darkgray;
            margin: 0 0 30px 0;
            padding: 10px;
        }
       /* .link {
            //display: inline-block;
            //color: $white;
            text-decoration: none;
            //padding: 10px 15px;
            //background-color: darkcyan;

            background-color: transparent;
            border: 2px solid $green;
            padding: 10px 15px;
            border-radius: 10px;
            color: $white;
            transition: all 1s ease-in-out;
            letter-spacing: 1px;
            &:hover {
                background-color: $green;
                transform: translateY(-7px);

            }
        }*/

    }
}

